*{
     margin: 0;
     padding: 0;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     box-sizing: border-box;
}

body{
     background: rgb(59, 5, 34) !important;
     color: #fff !important;
}

.container{
     margin: 20%;
}

.display{
     color: #3a8b00 !important;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
